In [ ]:
import sqlite3
import pandas as pd

In [ ]:
sqlite_file = 'database.sqlite'
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()
c.execute("select name from sqlite_master where type='table' order by name")
table_name = c.fetchall()[1][0]

In [ ]:
sql = "select * from "+table_name+";"
c.execute(sql)
full_content = c.fetchall()

In [ ]:
# get table description
c.execute("PRAGMA table_info(hist)")
description = c.fetchall()

In [ ]:
# get column name
c.execute("SELECT * FROM {}".format(table_name))
col_name_list = [tuple[0] for tuple in c.description]

In [ ]:
# delete unnecessary information by creating a new table
c.execute("drop table NewTable")
create_new_table = "create table NewTable (AUNbr text, [Assaults on Staff] int, [Assaults on Students] int, county text, enrollment int)"
c.execute(create_new_table)

In [ ]:
sql = "select AUNbr, [Assaults on Staff], [Assaults on Students], county, enrollment from " + table_name
c.execute(sql)
to_be_inserted = c.fetchall()

In [ ]:
for i in to_be_inserted:
    insertion = "insert into NewTable values(?,?,?,?,?)"
    c.execute(insertion, i)
c.execute("select * from NewTable")
data = c.fetchall()

In [ ]:
headers = ["AUNbr","Assaults on Staff","Assaults on Students","county","enrollment"]
df = pd.DataFrame.from_records(data, columns = headers)
df.to_csv('school_security_from_database.csv', sep = ",", encoding = 'utf-8')