In [1]:
import sqlite3
import pandas as pd

In [3]:
sqlite_file = 'database.sqlite'
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()
c.execute("drop table NewTable")
c.execute("select name from sqlite_master where type='table' order by name")
table_name = c.fetchall()[0][0]

In [4]:
table_name

'hist'

In [5]:
sql = "select * from "+table_name+";"
c.execute(sql)
full_content = c.fetchall()

In [6]:
# get table description
c.execute("PRAGMA table_info(hist)")
description = c.fetchall()

In [7]:
# get column name
c.execute("SELECT * FROM {}".format(table_name))
col_name_list = [tuple[0] for tuple in c.description]

In [8]:
col_name_list

['AUNbr',
 'Academic Expulsion',
 'Academic OSS',
 'Aggravated Indecent Assault',
 'Arson',
 'Assaults on Staff',
 'Assaults on Students',
 'Assignments to Alternative Education',
 'Attempt or Commission of Murder/Manslaughter',
 'Attempted',
 'BB/Pellet Gun',
 'Bomb Threats',
 'Bullying',
 'Burglary',
 'Committed',
 'Conduct Expulsion',
 'Conduct OSS',
 'County',
 'Criminal Trespass',
 'Cutting Instrument',
 'Cyber Harassment',
 'Disorderly Conduct',
 'Drug and Alcohol Expulsion',
 'Drug and Alcohol OSS',
 'Enrollment',
 'Explosive',
 'Failure of Disorderly Persons to Disperse Upon Official Order',
 'Fighting',
 'Handgun',
 'Ideation',
 'Incidents',
 'Indecent Assault',
 'Indecent Exposure',
 'Institutional Sexual Assault',
 'Involuntary Sexual Deviate Intercourse',
 'Kidnapping/Interference With Custody of Child',
 'LEA Name',
 'LEA Type',
 'Minor Altercation',
 'No. of Incidents Involving Local Law Enforcement',
 'Obscene and other sexual materials and performances',
 'Offenders',
 'Open Lewdness',
 'Other',
 'Other Firearm',
 'Other Harrassment/Intimidation',
 'Other Misconduct',
 'Possession of Other Weapon',
 'Possession of a Firearm',
 'Possession of a Knife',
 'Possession, Use, or Sale of Tobacco',
 'Possession/Use of a Controlled Substance',
 'Racial/Ethnic Intimidation',
 'Rape',
 'Reckless Endangering',
 'Rifle/Shotgun',
 'Rioting',
 'Robbery',
 'Sale, Possession, Use, or Under the Influence of Alcohol',
 'Sale/Distribution of a Controlled Substance',
 'School Name',
 'School Number',
 'Sexual Assault',
 'Sexual Harassment',
 'Sexual Offenses',
 'Staff Aggravated',
 'Staff Simple',
 'Stalking',
 'Statutory Sexual Assault',
 'Student Aggravated',
 'Student Simple',
 'Suicide - Attempted',
 'Suicide - Committed',
 'Terroristic Threats',
 'Terroristic Threats (excl bomb threats)',
 'Theft',
 'Threatening a School Official/Student',
 'Tobacco Expulsion',
 'Tobacco OSS',
 'Total Arrests',
 'Truancy Rate',
 'Unlawful Restraint',
 'Vandalism',
 'Violence Expulsion',
 'Violence OSS',
 'Weapon Expulsion',
 'Weapon OSS',
 'Year']

In [9]:
# delete unnecessary information by creating a new table
create_new_table = "create table NewTable (AUNbr text, [Assaults on Staff] int, [Assaults on Students] int, [Conduct OSS] real, county text, enrollment int)"
c.execute(create_new_table)

In [10]:
sql = "select AUNbr, [Assaults on Staff], [Assaults on Students],[Conduct OSS], county, enrollment from " + table_name
c.execute(sql)
to_be_inserted = c.fetchall()

In [11]:
for i in to_be_inserted:
    insertion = "insert into NewTable values(?,?,?,?,?,?)"
    c.execute(insertion, i)
c.execute("select * from NewTable")
data = c.fetchall()

In [12]:
headers = ["AUNbr","Assaults on Staff","Assaults on Students","Conduct OSS","county","enrollment"]
df = pd.DataFrame.from_records(data, columns = headers)
df

,AUNbr,Assaults on Staff,Assaults on Students,Conduct OSS,county,enrollment
0,120481107.0,NaN,NaN,50.0,Northampton,1315.0
1,110171607.0,NaN,NaN,8.0,Clearfield,294.0
2,106161357.0,NaN,NaN,1.0,Clarion,292.0
3,116191757.0,NaN,NaN,18.0,Columbia,625.0
4,101266007.0,NaN,NaN,0.0,Fayette,240.0
5,114067107.0,NaN,NaN,80.0,Berks,1041.0
6,105201407.0,NaN,NaN,17.0,Crawford,549.0
7,116606707.0,NaN,NaN,0.0,Union,273.0
8,115211657.0,NaN,NaN,25.0,Cumberland,920.0
9,115221607.0,NaN,NaN,120.0,Dauphin,969.0
10,125232407.0,NaN,NaN,17.0,Delaware,444.0
11,125232407.0,NaN,NaN,32.0,Delaware,537.0
12,129546907.0,NaN,NaN,11.0,Schuylkill,138.0
13,129546907.0,NaN,NaN,10.0,Schuylkill,174.0
14,109420107.0,NaN,NaN,0.0,McKean,262.0
15,101262507.0,NaN,NaN,0.0,Fayette,587.0
16,103023807.0,NaN,NaN,16.0,Allegheny,740.0
17,112282307.0,NaN,NaN,13.0,Franklin,355.0
18,111292507.0,NaN,NaN,0.0,Fulton,158.0
19,108070607.0,NaN,NaN,89.0,Blair,931.0
20,108112607.0,NaN,NaN,9.0,Cambria,319.0
21,101302607.0,NaN,NaN,20.0,Greene,339.0
22,111312607.0,NaN,NaN,3.0,Huntingdon,344.0
23,118403207.0,NaN,NaN,27.0,Luzerne,783.0
24,128324207.0,NaN,NaN,0.0,Indiana,411.0
25,106333407.0,NaN,NaN,0.0,Jefferson,385.0
26,110183707.0,NaN,NaN,0.0,Clinton,585.0
27,113363807.0,NaN,NaN,36.0,Lancaster,315.0
28,113363807.0,NaN,NaN,40.0,Lancaster,398.0
29,113363807.0,NaN,NaN,72.0,Lancaster,562.0
...,...,...,...,...,...,...
67942,115216503.0,NaN,NaN,100.0,Cumberland,4013.0
67943,108567807.0,NaN,NaN,5.0,Somerset,428.0
67944,127041603.0,NaN,NaN,26.0,Beaver,2432.0
67945,115222343.0,NaN,NaN,0.0,Dauphin,247.0
67946,126510022.0,NaN,NaN,128.0,Philadelphia,789.0
67947,112676403.0,NaN,NaN,75.0,York,4065.0
67948,113362303.0,NaN,NaN,94.0,Lancaster,3049.0
67949,103027307.0,NaN,NaN,85.0,Allegheny,731.0
67950,122098403.0,NaN,NaN,50.0,Bucks,5262.0
67951,125235502.0,NaN,NaN,347.0,Delaware,3271.0
67952,125237702.0,NaN,NaN,489.0,Delaware,5614.0
67953,115000000.0,NaN,NaN,41.0,Cumberland,215.0
67954,103026037.0,NaN,NaN,0.0,Allegheny,278.0
67955,106617203.0,NaN,NaN,51.0,Venango,2026.0
67956,105201407.0,NaN,NaN,13.0,Crawford,546.0
67957,110177003.0,NaN,NaN,0.0,Clearfield,1708.0
67958,118409203.0,NaN,NaN,35.0,Luzerne,2267.0
67959,110171003.0,NaN,NaN,52.0,Clearfield,2289.0
67960,141019741.0,NaN,NaN,1.0,Adams,245.0
67961,117598503.0,NaN,NaN,9.0,Tioga,1514.0
67962,123467103.0,NaN,NaN,106.0,Montgomery,6599.0
67963,126512860.0,NaN,NaN,0.0,Philadelphia,76.0
67964,115227010.0,NaN,NaN,0.0,Dauphin,197.0
67965,103029603.0,NaN,NaN,451.0,Allegheny,2842.0
67966,118403207.0,NaN,NaN,83.0,Luzerne,667.0
67967,107656502.0,NaN,NaN,6.0,Westmoreland,5250.0
67968,119355503.0,NaN,NaN,179.0,Lackawanna,1801.0
67969,103024162.0,NaN,NaN,179.0,Allegheny,338.0
67970,126510015.0,NaN,NaN,24.0,Philadelphia,672.0
67971,116191203.0,NaN,NaN,27.0,Columbia,1558.0

In [13]:
df[['Assaults on Staff', 'Assaults on Students']] = df[['Assaults on Staff', 'Assaults on Students']].fillna(0)
df.dropna(axis=0, how='any', inplace=True)

In [14]:
df

,AUNbr,Assaults on Staff,Assaults on Students,Conduct OSS,county,enrollment
0,120481107.0,0.0,0.0,50.0,Northampton,1315.0
1,110171607.0,0.0,0.0,8.0,Clearfield,294.0
2,106161357.0,0.0,0.0,1.0,Clarion,292.0
3,116191757.0,0.0,0.0,18.0,Columbia,625.0
4,101266007.0,0.0,0.0,0.0,Fayette,240.0
5,114067107.0,0.0,0.0,80.0,Berks,1041.0
6,105201407.0,0.0,0.0,17.0,Crawford,549.0
7,116606707.0,0.0,0.0,0.0,Union,273.0
8,115211657.0,0.0,0.0,25.0,Cumberland,920.0
9,115221607.0,0.0,0.0,120.0,Dauphin,969.0
10,125232407.0,0.0,0.0,17.0,Delaware,444.0
11,125232407.0,0.0,0.0,32.0,Delaware,537.0
12,129546907.0,0.0,0.0,11.0,Schuylkill,138.0
13,129546907.0,0.0,0.0,10.0,Schuylkill,174.0
14,109420107.0,0.0,0.0,0.0,McKean,262.0
15,101262507.0,0.0,0.0,0.0,Fayette,587.0
16,103023807.0,0.0,0.0,16.0,Allegheny,740.0
17,112282307.0,0.0,0.0,13.0,Franklin,355.0
18,111292507.0,0.0,0.0,0.0,Fulton,158.0
19,108070607.0,0.0,0.0,89.0,Blair,931.0
20,108112607.0,0.0,0.0,9.0,Cambria,319.0
21,101302607.0,0.0,0.0,20.0,Greene,339.0
22,111312607.0,0.0,0.0,3.0,Huntingdon,344.0
23,118403207.0,0.0,0.0,27.0,Luzerne,783.0
24,128324207.0,0.0,0.0,0.0,Indiana,411.0
25,106333407.0,0.0,0.0,0.0,Jefferson,385.0
26,110183707.0,0.0,0.0,0.0,Clinton,585.0
27,113363807.0,0.0,0.0,36.0,Lancaster,315.0
28,113363807.0,0.0,0.0,40.0,Lancaster,398.0
29,113363807.0,0.0,0.0,72.0,Lancaster,562.0
...,...,...,...,...,...,...
67942,115216503.0,0.0,0.0,100.0,Cumberland,4013.0
67943,108567807.0,0.0,0.0,5.0,Somerset,428.0
67944,127041603.0,0.0,0.0,26.0,Beaver,2432.0
67945,115222343.0,0.0,0.0,0.0,Dauphin,247.0
67946,126510022.0,0.0,0.0,128.0,Philadelphia,789.0
67947,112676403.0,0.0,0.0,75.0,York,4065.0
67948,113362303.0,0.0,0.0,94.0,Lancaster,3049.0
67949,103027307.0,0.0,0.0,85.0,Allegheny,731.0
67950,122098403.0,0.0,0.0,50.0,Bucks,5262.0
67951,125235502.0,0.0,0.0,347.0,Delaware,3271.0
67952,125237702.0,0.0,0.0,489.0,Delaware,5614.0
67953,115000000.0,0.0,0.0,41.0,Cumberland,215.0
67954,103026037.0,0.0,0.0,0.0,Allegheny,278.0
67955,106617203.0,0.0,0.0,51.0,Venango,2026.0
67956,105201407.0,0.0,0.0,13.0,Crawford,546.0
67957,110177003.0,0.0,0.0,0.0,Clearfield,1708.0
67958,118409203.0,0.0,0.0,35.0,Luzerne,2267.0
67959,110171003.0,0.0,0.0,52.0,Clearfield,2289.0
67960,141019741.0,0.0,0.0,1.0,Adams,245.0
67961,117598503.0,0.0,0.0,9.0,Tioga,1514.0
67962,123467103.0,0.0,0.0,106.0,Montgomery,6599.0
67963,126512860.0,0.0,0.0,0.0,Philadelphia,76.0
67964,115227010.0,0.0,0.0,0.0,Dauphin,197.0
67965,103029603.0,0.0,0.0,451.0,Allegheny,2842.0
67966,118403207.0,0.0,0.0,83.0,Luzerne,667.0
67967,107656502.0,0.0,0.0,6.0,Westmoreland,5250.0
67968,119355503.0,0.0,0.0,179.0,Lackawanna,1801.0
67969,103024162.0,0.0,0.0,179.0,Allegheny,338.0
67970,126510015.0,0.0,0.0,24.0,Philadelphia,672.0
67971,116191203.0,0.0,0.0,27.0,Columbia,1558.0

In [ ]:
df.to_csv("School_Safety_Data.csv",header = True)